/Module 2 Week 1/Collections/bin/
/Module 2 Week 1/Collections/obj/
/Module 2 Week 1/Delegates/bin/
/Module 2 Week 1/Delegates/obj/
/Module 2 Week 1/Exception/bin/
/Module 2 Week 1/Exception/obj/
/Module 2 Week 1/Recap/bin/
/Module 2 Week 1/Recap/obj/
/Module 2 Week 1/Streams/bin/
/Module 2 Week 1/Streams/obj/
/Module 2 Week 2/AnonymousMethod/bin/
/Module 2 Week 2/AnonymousMethod/obj/
/Module 2 Week 2/ExtensionMethod/bin/
/Module 2 Week 2/ExtensionMethod/obj/
/Module 2 Week 2/QueryOperators/bin/
/Module 2 Week 2/QueryOperators/obj/
/Module 2 Week 2/Week7/bin/
/Module 2 Week 2/Week7/obj/